#landing-page-wrapper {
  font-family: 'Muli', sans-serif;
  height: 100vh;
  width: 100%;
  color: var(--white-color);
}

#landing-page-wrapper::after {
  content: "";
  background: url('../../assets/images/rainbow-smoke.jpg');
  opacity: 0.8;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#landing-page-wrapper header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#landing-page-wrapper h1 {
  font-family: 'Pacifico', cursive;
  font-weight: normal;
  margin-left: 15%;
  font-size: 3em;
}
