#landing-page-wrapper {
  font-family: 'Muli', sans-serif;
  height: 100vh;
  width: 100%;
  color: var(--white-color);
  background: rgba(51, 51, 51, 0.9);
}

/*#landing-page-wrapper::after {
  content: "";
  background: url('../../assets/images/rainbow-smoke.jpg');
  opacity: 0.8;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}*/

#landing-page-wrapper header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#landing-page-wrapper h1 {
  font-family: 'Pacifico', cursive;
  font-weight: normal;
  margin-left: 15%;
  font-size: 3em;
}

#landing-photo-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

.landing-photo {
  width: 28%;
  height: 220px;
  transition: 0.5s;
  opacity: 1;
  visibility: visible;
}

/*.hide {
  border: 3px solid magenta;
  opacity: 1;
  visibility: hidden;
}*/

/*.bottom-row {
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
  }

  to {
    margin-left: 0%;
  }
}*/

#landing-photo-grid .bottom-row {
  margin-top: 30px;
}
