#login-wrapper {
  font-family: 'Muli', sans-serif;
  height: 100vh;
  width: 100%;
  color: var(--white-color);
}

#login-wrapper::after {
  content: '';
  background: url('../../assets/images/rainbow-smoke.jpg');
  opacity: 0.8;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#login-wrapper nav {
  width: 10%;
  position: absolute;
  right: 1%;
  top: 0;
}

#login-wrapper #home-link {
  display: flex;
  align-items: center;
  font-size: 1.4em;
  color: var(--white-color);
  text-decoration: none;
}

#login-wrapper nav img {
  height: 40px;
  width: 40px;
}

#log-in {
  display: flex;
  flex-direction: column;
  background: rgba(51, 51, 51, 0.9);
  width: 40%;
  margin-left: 30%;
  height: 80%;
  margin-top: 5%;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 10px #131313, 0px 0px 10px #131313;
}

#log-in header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10%;
}

#log-in h1 {
  font-family: 'Pacifico', cursive;
}

#log-in input {
  background: none;
  border: none;
  padding-bottom: 5px;
  color: var(--white-color);
  outline: none;
}

#log-in input::placeholder {
  color: var(--white-color);
  font-family: 'Muli', sans-serif;
}

#log-in div {
  display: flex;
  width: 80%;
  border-bottom: 1px solid var(--white-color);
  margin-bottom: 5%;
}

#log-in div img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

#log-in main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#log-in-btn {
  width: 80%;
  height: 30px;
  border: none;
  background: var(--purple-color);
  color: var(--white-color);
  border-radius: 5px;
  margin-top: 5%;
  font-family: 'Muli', sans-serif;
}

#log-in button:hover {
  cursor: pointer;
}

#sign-up-btn {
  background: none;
  border: none;
  color: var(--white-color);
  margin-top: 5%;
  font-size: 0.7em;
  font-family: 'Muli', sans-serif;
  font-weight: 200;
}
